	<h2>Enter what you would like to change</h2>

  <form action="/edited post/<%=@edit_post.id%>" method='POST'>
	  <label for='post_title'>Post Title</label>
	  <input type='text' id='post_title' name='listing[title]' value='<%=@edit_post.title%>'>
	  <br>
	  <label for='post_body'>Post Body</label>
	  <textarea cols="40" rows="5" name='listing[body]'><%=@edit_post.body%></textarea>
	  <input type='submit'>
  </form>
