<div class="container"> 
  <h1>Create a blog a new blog post</h1>

  <form action='created post' method='POST'>
	  <label for='post_title'>Post Title</label>
	  <input type='text' id='post_title' name='listing[title]'>
	  <br>
	  <label for='post_body'>Post Body</label>
	  <textarea cols="40" rows="5" name='listing[body]'>
      Enter post
	  </textarea>
	  <br>
	  <label for='post_author'>Post Author</label>
	  <input type='text' id='post_author' name='listing[author]'>
	  <br>
    <label for='post_tags'>Tags</label>
	  <input id="post_tags" name="tags" value="tags">
	  <input type='submit'>
  </form>
  
  <a href='/'>Return to home page</a>


</div>