<div class="container"> 
	<h2>Enter in a post id for which you would like to search.</h2>

  <form action='search posts' method='POST'>
	  <label for='post_id'>Post id</label>
	  <input type='text' id='post_id' name='id'>
	  <input type='submit'>
  </form>
  <br>
  <a href='/'>Return to homepage</a>


</div>